body{
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  }
html {
  scroll-behavior: smooth;
}
a:link {
    color: #494949;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
}
a:visited {
    color: #494949;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
}
a:hover {
    color: #000000;
    text-decoration: none;
}
h2{
  text-decoration-color: white;
}
img{
  
}
script{
  color: aliceblue;
}
.logo
    {
        display: flex;
        width: auto;
        margin: initial ;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }
.links{
    font-size: 30px;
}
.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0px;
  }
.powitanie {
    text-align: center;
}
.footer {
    position:relative;
    align-content: right;
    width: 100%;
    background-color: #e0dddd;
    color: #494949;
    text-align: left;
    float: right;
    
    
 }
 
 * {box-sizing:content-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position:static;
  height: 200px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 00%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: none;
  -webkit-animation-duration: 0s;
  animation-name: none;
  animation-duration: 0s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.header {
  position:sticky;
  background-color: whitesmoke;
  text-align: center;
  width: auto;
}
.a {
  list-style-type: none;
  line-height: 28px;
  
}
.contact{
  text-align: left;
    float: right;
  padding:10px 50px 10px 10px;
    
}
/* Page content */
.content {
  padding-top: 10px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.logolink {
  display: flex;
}
.lewo{
  float: right;
  display: flex;
  margin-top: 50px;
}
.prawo {
  float:right;
  margin-left:900px;
  display: flex;
}
.ofertatxt-ramka {
  padding-right: 10px;
  border: 1px solid lightgray;
  
}
.ofertatxt{
  text-align: start;
  padding-left: 10px;
  padding-top: 15px;
}
.prw {
  float: right;
width: 440px;
margin-top: 15px;
padding-left: 15px;
border-left: 1px solid #ddd;

}
.oferta {
  padding-top: 200px;
  text-align: center;
}
.dlaczego_my{
    margin-top: 30px;
    text-align: center;
}
.mapa {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}
.tytul{
    margin-left: 40px;
}