/* BODY */
body{
  font-family: 'Lato', sans-serif;
  background-color: #f4f2f0;
  justify-content: center;
  width: 1185px;
  margin-left: auto;
  margin-right: auto;
}
html {
  scroll-behavior: smooth;
}
h2{
  text-decoration-color: #f4f2f0;
}
/* HEADER */
.logo{
  display: flex;
  width: auto;
  margin: initial ;
  text-align: center;
  justify-content: center;
  align-items: center;}   

.links{
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;}

 * {box-sizing:1185}

/* GALERIA */
.slideshow-container {
  width: 100%;
  position:static;
  height: 200px;
  margin: auto;
  background-color: #f4f2f0;
  padding-bottom: 230px;
  padding-top: 30px;
}

/* Chowanie zdjęć */
.mySlides {
  display: none;
}
Kropki określające które  to zdjęcie
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.header {
  position:sticky;
  background-color: #f0eeec;
  text-align: center;
  width: 100%;
  padding: 0px;
  border: 1px solid lightgray;
  z-index: 99;
  padding-top: 10px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position:sticky;
  top: 0;
  width: 100%;
  padding: 0px;
  z-index: 99;
  box-shadow: 0px 0px 10px 0px grey;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.logolink {
  display: flex;
}
.sticky + .logo {
  display: inline;
}
/* OFERTA */
.oferta {
  margin-top: 140px;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.oferta-tekst{
  text-align: start;
  padding-left: 10px;
  padding-top: 40px;
  background-color: #ffffff;
}
.oferta-prawa {
  float: right;
  width: auto;
  padding-left: 15px;
  border: 1px solid lightgray;
  text-align: right ;
  padding-top: 90px;
  padding-right: 30px;
  background-color: #f4f2f0;
}
.oferta-tekst-ramka {
  padding-right: 10px;
  border: 1px solid lightgray;
  width: auto;
  background-color: #ffffff;

}
.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f2f0;
}
.oferta-lewa{
  float: right;
  display: flex;
  
  
}
.oferta-prawo {
  float:right;
  margin-bottom: 0px;
  display: inline-flex;
}
.nopadd{
  padding-top: 0px;
}
/* DLACZEGO MY */
.dlaczego_my{
    margin-top: 0px;
    background-color: #f4f2f0;

}
h2.onas{
  background-color: #f4f2f0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140;
  padding: 30px 30px 30px 30px;
  text-align: left;
} 
.dlmy{
  padding-top: 30px;
  text-align: center;
  background-color: #f4f2f0;
}
.dlaczego{
  padding-top: 0px;
}
.onastytul{
  text-align: center;
  padding-top: 110px;
  padding-bottom: 30px;
  background-color: #f4f2f0;
}
/* FOOTER */
.footer {
  position:relative;
  align-content: right;
  width: 100%;
  background-color: #C0BFC4;
  color: #494949;
  text-align: left;
  float: right;}
  
.mapa {
  float: left;
  margin-top: 30px;
  margin-left: 40px;}

.contact{
  text-align: left;
  float: inherit;
  padding:30px 50px 75px 10px;
  background-color: #E50914;
  color: #f4f2f0;
  margin-top: -50px;
}
.tytul{
  margin-left: 40px;
}
.TOS{
  text-align: left;
  padding-top: 265px;
  padding-left: 20px;
  padding-bottom: 15px;
  text-decoration: none;
  background-color: none;
}
.TOS a:hover {
  color: #000000;
  text-decoration: none;
  background-color: #C0BFC4;
  padding: 10px 25px;
}
li.numer{
  font-weight: bold;}

.autorzy{
  font-size: 10px;
  padding-bottom: 15px;
  padding-left:20px;
  text-decoration: none;
  background-color: none;}

.image{
  float: left;
}
.text-onas{
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.align-left {
	float: left;
	margin-right: 20px;
}


a.button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}
a.button:focus, .button:hover {
  background: #696969;
}
a.button:active:after {
  width: 200px;
  height: 200px;
}
.button {
  padding: 16px 42px;
  box-shadow: 0px 12px 7px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: #a1a1a1;
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
}
a.logolink{
  text-decoration: none;
  color: #494949;
}
a.TOS{
  background: none;
  text-decoration: none;
  color: #494949;
}
ol.a{
  list-style: none;
  line-height: 30px;
  margin-right: 50px;
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
   /* ----------------------------------------------
 * Generated by Animista on 2021-5-21 12:46:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 
  .slide-in-fwd-top {
    -webkit-animation: slide-in-fwd-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
            animation: slide-in-fwd-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
  }
 

 /* animation slide-in-fwd-top */
 
 
@-webkit-keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
            transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
            transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.slide-in-right {
	-webkit-animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}




.window {
  --dark-background: #5a5a5a;
  --light-background: #8a8a8a;
  --light-foreground: #ededed;
  --shadow: #112211;

  margin-top: 20px;
  max-width: auto;
  overflow: hidden;
  position: relative;
}

.window__current-img {
  display: flex;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.window__current-img__btn {
  box-shadow: 1px 1px 3px var(--shadow),
  -1px -1px 3px var(--shadow);
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 16px;
  height: 16px;
}

.window__current-img__btn:not(:last-child) {
  margin-right: 4px;
}

.window__current-img__btn:hover {
  background-color: var(--light-background);
}

.window__current-img__btn:active {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
}

.window__current-img__btn--current {
  background-color: var(--dark-background);
}

.window__slide-left {
  box-shadow: 0px 1px 2px var(--shadow),
  -1px -1px 3px var(--shadow);
  transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  opacity: 0.6;
  background-color: var(--dark-background);
  color: var(--light-foreground);
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.window__slide-left:hover {
  background-color: var(--light-background);
  opacity: 0.9;
}

.window__slide-left:active {
  transform: translateY(-50%) scale(0.95);
  -moz-transform: translateY(-50%) scale(0.95);
  -ms-transform: translateY(-50%) scale(0.95);
  -o-transform: translateY(-50%) scale(0.95);
  -webkit-transform: translateY(-50%) scale(0.95);
}

.window__slide-left > i {
  transform: translateX(-1px);
  -ms-transform: translateX(-1px);
  -moz-transform: translateX(-1px);
  -o-transform: translateX(-1px);
  -webkit-transform: translateX(-1px);
}

.window__slide-right {
  box-shadow: 0px 1px 2px var(--shadow),
  -1px -1px 3px var(--shadow);
  transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  opacity: 0.6;
  background-color: var(--dark-background);
  color: var(--light-foreground);
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.window__slide-right:hover {
  background-color: var(--light-background);
  opacity: 0.9;
}

.window__slide-right:active {
  transform: translateY(-50%) scale(0.95);
  -moz-transform: translateY(-50%) scale(0.95);
  -ms-transform: translateY(-50%) scale(0.95);
  -o-transform: translateY(-50%) scale(0.95);
  -webkit-transform: translateY(-50%) scale(0.95);
}

.window__slide-right > i {
  transform: translateX(1px);
  -moz-transform: translateX(1px);
  -ms-transform: translateX(1px);
  -webkit-transform: translateX(1px);
  -o-transform: translateX(1px);
}

.window__slider {
  transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  display: flex;
}

.window__slider__img-container {
  transition: opacity 0.5s ease-in-out 0.375s;
  -o-transition: opacity 0.5s ease-in-out 0.375s;
  -moz-transition: opacity 0.5s ease-in-out 0.375s;
  -webkit-transition: opacity 0.5s ease-in-out 0.375s;
  min-width: 100%;
  max-width: 100%;
}

.window__slider__img-container--opacity {
  opacity: 1;
}