body{
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  }
html {
  scroll-behavior: smooth;
}
a:link {
    color: #494949;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
}
a:visited {
    color: #494949;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
}
a:hover {
    color: #000000;
    text-decoration: none;
}
h2{
  text-decoration-color: white;
}
img{
  
}
script{
  color: aliceblue;
}
.logo{
  display: flex;
  width: auto;
  margin: initial ;
  text-align: center;
  justify-content: center;
  align-items: center;   
}
.links{
    font-size: 30px;
}
.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0px;
}
.powitanie {
    padding-top: 30px;
}
 * {box-sizing:content-box}

/* GALERIA */
.slideshow-container {
  width: 100%;
  position:static;
  height: 200px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: none;
  -webkit-animation-duration: 0s;
  animation-name: none;
  animation-duration: 0s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.header {
  position:sticky;
  background-color: whitesmoke;
  text-align: center;
  width: auto;
}
.a {
  list-style-type: none;
  line-height: 28px;
  
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position:sticky;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.logolink {
  display: flex;
}



/* OFERTA */
.oferta {
  padding-top: 200px;
  text-align: center;
}
.ofertatxt{
  text-align: start;
  padding-left: 30px;
  padding-top: 40px;
}
.prw {
  float: right;
  width: auto;
  padding-left: 15px;
  border: 1px solid lightgray;
  text-align: right ;
  padding-top: 90px;
  padding-right: 30px;
}
.ofertatxt-ramka {
  padding-right: 10px;
  border: 1px solid lightgray;
  width: auto;
  
}
.content {
  display: block;
   margin-left: auto;
    margin-right: auto"
}
.lewo{
  float: right;
  display: flex;
  
}
.prawo {
  float:right;
  margin-bottom: 30px;
  display: inline-flex;
}

/* DLACZEGO MY */
.dlaczego_my{
    margin-top: 300px;
    text-align: center;
}
.onas{
  text-align: center;
  margin-top: 30px;
  
}
.dlmy{
  margin-top: 30px;
}
/* FOOTER */
.footer {
  position:relative;
  align-content: right;
  width: 100%;
  background-color: #e0dddd;
  color: #494949;
  text-align: left;
  float: right;
}
.mapa {
  float: left;
  margin-top: 30px;
  margin-left: 40px;
}
.contact{
  text-align: left;
  float: inherit;
  padding:0px 50px 10px 0px;
}
.tytul{
  margin-left: 40px;
}
.TOS{
  text-align: left;
  padding-top: 265px;
  padding-left: 20px;
}



